/* CSS file for main.html */

/* first page */
.background-image {
  position: absolute;
  background-image: url("/static/images/background.jpg");
  background-size: cover;
  background-position: center;
}

.login-link {
  position: absolute;
  top: 20px;
  right: 20px;
}

.main-title {
  position: absolute;
  top: 20%;
  font-family: "Cedarville Cursive", cursive;
  font-size: 85px;
  line-height: 1;
  color: white;
}

.start-button {
  position: absolute;
  height: 70px;
  width: 180px;
}

.slider-section {
  position: absolute;
  top: 60%;
  width: 65%;
  flex-flow: row wrap;
  background: linear-gradient(45deg, rgba(194, 93, 115, 0.8), rgba(181, 59, 86, 0.8));
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.slider-container {
  width: 40%;
  margin: 10px;
  padding: 10px;
  color: white;
  font-size: 16px;
}

label {
  margin-bottom: 10px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: #65494d;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: url("/static/images/slider.png");
  cursor: pointer;
}

.slider-values {
  width: 100%;
  color: #d3bdbf;
  font-size: 13px;
  margin-top: 6px;
  flex-direction: row;
  justify-content: space-between;
}

.slider-values div {
  width: 20px;
  text-align: center;
}

/* Second page */
.breathing-section {
  position: absolute;
  width: 40%;
  height: 85%;
  background: linear-gradient(45deg, rgba(194, 93, 115, 0.8), rgba(181, 59, 86, 0.8));
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}

.top-section {
  height: 35%;
}

.box-section {
  height: 50%;
}

.instruction {
  font-size: 72px;
  color: white;
}

.timer {
  font-size: 56px;
  color: white;
}

.breathing-box {
  width: 250px;
  height: 250px;
  border: 10px solid #2b3a3d;
}

.button-section {
  height: 15%;
}

.stop-button {
  height: 60px;
  width: 160px;
}

.moving-element {
  width: 25px;
  height: 25px;
  background: url("/static/images/slider.png");
  cursor: pointer;
  margin-top: -17.5px;
  margin-left: -17.5px;
  box-shadow: none;
}

/* Media query for extra small devices (phones) */
@media only screen and (max-width: 600px) {
  .main-title {
    line-height: 1;
    position: absolute;
    top: 5%;
    font-family: "Cedarville Cursive", cursive;
    font-size: 85px;
  }

  .start-button {
    position: absolute;
    top: 35%;
    height: 70px;
    width: 160px;
  }

  .slider-section {
    position: absolute;
    top: 47.5%;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-flow: row wrap;
    background: linear-gradient(45deg, rgba(194, 93, 115, 0.8), rgba(181, 59, 86, 0.8));
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  }

  .slider-container {
    width: 80%;
    margin: 5px;
    padding: 0px;
    color: white;
    font-size: 16px;
  }

  .breathing-section {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    background: linear-gradient(45deg, rgba(194, 93, 115, 0.8), rgba(181, 59, 86, 0.8));
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
  }

  .instruction {
    position: relative;
    top: 20px;
    font-size: 62px;
  }

  .timer {
    position: relative;
    top: -20px;
    font-size: 56px;
  }

  .stop-button {
    height: 60px;
    width: 140px;
    margin-top: 10px;
  }
}

/* class to hide elements */
.hidden {
  display: none;
}
